// Place all the styles related to the infos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.demo-container{
  height: 450px;
  width: 850px;
  margin: 15px auto 30px;
  padding: 20px 15px 15px;
}

.demo-placeholder{
  height: 100%;
  width: 100%;
  line-height: 1.2em;
  font-size: 14px;
}
